* {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");

}

h1, p {

	font-family: "Montserrat", sans-serif;
}

#profile {
		height: 250px;
		width: 250px;

		border-radius: 50%;
}

#landing {
	height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.fa-globe, .fa-facebook-f, .fa-twitter, .fa-tiktok, .fa-instagram {
	font-size: 25px;
	color: white;
	margin: 0 10px 0 10px;
}

.fa-globe:hover, .fa-facebook-f:hover, .fa-twitter:hover, .fa-tiktok:hover, .fa-instagram:hover {
	
	color:gray;
	
}